%share-font {
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
    text-align: left;
}

%share-layout {
    padding-right: 12rem;
    padding-left: 3rem;
}

%share-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.about {
    height:300vh;
    width: 100%;
    background: rgb(255,245,235);
    // background: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    overflow: hidden;


    &__animation {
        position: relative;
        background: rgb(255,245,235);
        height: 150vh;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        // z-index: 999;
        // background: royalblue;

        &__school {
            // margin-top: 15vh;
            @extend %share-back;
            max-width: 30vw;  
            transform: translateX(10vw);          

        }
        &__leftcloud {
            width:40vw;
            @extend %share-back;
            transform: translateY(110vh) translateX(20vw);       

        }
        &__puzzle {
            max-width: 10vw;
            @extend %share-back;
            transform: translateX(38vw)translateY(60vh);
        }
        &__rightcloud {
            @extend %share-back;
            width:38vw;
            transform: translateY(170vh) translateX(13vw);    
        }
        &__circle {
            width: 12vw;
            @extend %share-back;
            transform: translateX(4vw) translateY(182vh);
        }
        &__rightcloud2 {
            width:35vw;
            @extend %share-back;
            transform: translateX(-20vw) translateY(202vh);
        }
    }
    &__content {
        // background: orange;
        background:var(--primary-background);
        height: 150vh;
        min-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: #0e3460;
        // background: salmon;

        &__dialog {
            min-height: 30vh;
            width :100%;
            position: relative;
            border-radius: 50px 0 0 50px;
            background:rgb(241,92,80);
            @extend %share-layout;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15vh;
            z-index: 0;
            p {
                @extend %share-font;
            }
        }
        &__dialog::after {
            content: '';
            min-height: 30vh;
            width :100%;
            border-radius: 50px 0 0 50px;
            top: -1rem;
            left: -1rem;
            z-index: -1;
            position: absolute;
            // background:rgb(241,92,80);
            background:rgb(242,162,148);
        }
        &__section1 {
            margin: 10vh 0 10vh 0;
            height: 40vh;
            width :100%;
            // background:rgb(242,162,148);
            display: block;
            @extend %share-layout;
            h3 {
                font-family:var(--title-primary);
                text-align: left;
                margin-bottom: 2rem;
            }
            p {
                @extend %share-font;
            }
        }
        &__section2 {
            margin: 10vh 0 10vh 0;
            height: 40vh;
            width :100%;
            // background:rgb(242,162,148);
            display: block;
            @extend %share-layout;
            // position: absolute;
            z-index: 1;

            &__title {
                display: flex;
                justify-content: left;
                margin-bottom: 1.5rem;
                color: var(--primary-color);
                
                h3:first-child {
                    padding-right: 1rem;
                    margin-right: 1rem;
                    border-right: 4px solid rgb(188,176,141);
                    font-family: var(--title-primary);
                }
                h3:nth-child(2) {
                    font-family: var(--title-primary);
                }
            }
            p {
                @extend %share-font;
            }
        }
    }
    .section3 {
        height:50vh;
        width: 100vw;
        grid-column:1/3;
        background:var(--primary-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #0e3460;
        margin-top: 10vh;
        // margin-bottom: 10vh;
        // background: seagreen;
        overflow: hidden;

        & > h4 {
            font-family: var(--title-primary);
            z-index: 1;
            height: 20vh;
            width: 70vw;
            // background: lightblue;
            text-align: left;
            div {
                font-family: var(--title-primary);
                font-size: 4rem;
                line-height: 4rem;
                text-align: left;
            }
        }


        &__box {
            display: flex;
            width: 70vw;
            height: 30vh;
            // background: sienna;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
    
            h4:after{
                content: '+';
            }
            h5 {
                font-family: 'Karla', sans-serif;
            }
        }
    }
    .section4 {
        height: 70vh;
        width :100vw;
        // background: skyblue;
        grid-column:1/3;
        background:var(--primary-background);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #0e3460;
        // padding-left: 20vw;
        // padding-right: 20vw;

        h2 {
            font-family: 'Piazzolla', sans-serif;
            text-align: right;
            width: 50vw;
            color: var(--primary-color);
            padding-right: 2vw;
            // background: red;
            
        }
        .videobox {
            width: 50vw;
            background: url('./utils/images/watercolorr.png') no-repeat right center;
            background-size: contain;
            height: 70vh;
            display: flex;
            align-items: center;
            // border: 1px solid black;
            justify-content: flex-start;
            // background: red;
            overflow: hidden;
            position: relative;
            padding-left: 4rem;

            .videoContainer {
                width: 40rem;
                height: 20rem;
                // background: lightcoral;
                border-radius: 25px;
                z-index: 1;

                iframe {
                    width: 40rem;
                    height: 20rem;
                    border-radius: 25px;
                }
                .iframe:focus {
                    outline: none;
                }
            }

            
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        // background: blue;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .about__content__dialog {
        padding: 10%;
        margin: 0;
        p {
            font-size: 0.5rem;
        }
    }
    .about__content__section1 {
        padding: 10%;
        margin: 0;
        margin-top: 25%;
        overflow: hidden;
        // background: coral;
        h3 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        p {
            font-size: 0.5rem;
        }
    }
    .about__content__section2 {
        padding: 10%;
        margin: 0;
        margin-top: 25%;
        height: 50vh;
        overflow: hidden;
        // background: chocolate;
        &__title {
            display: flex;
            align-items: center;
        }
        h3:nth-child(1) {
            font-size: 3rem;
        }
        h3:nth-child(2) {
            font-size: 3rem;
        }
        p {
            font-size: 0.5rem;
        }
    }
    #animatedCounter {
        padding: 0;
        margin: 0;
        margin-top: -30%;
        // background: chartreuse;
        height: 40vh;
        h4 {
            margin-bottom: 0;
            font-size: 1.5rem;
            #dream {
                font-size: 3rem;
            }
        }
        .section3__box {
            h4 {
                font-size: 1rem;
            }
            h5 {
                font-size: 1.2rem;
            }
        }
    }

    #video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #0e3460;
        margin-top: -20%;
        // background: coral;
        height: 60vh;
        padding: 0;

        h2 {
            text-align: left;
            width: 80vw;
            font-size: 3rem;
        }
        .videobox {
            width: 80vw;
            background: url('./utils/images/watercolorr.png') no-repeat right center;
            background-size: contain;
            height: 70vh;
            display: flex;
            align-items: center;
            // border: 1px solid black;
            justify-content: flex-start;
            // background: red;
            overflow: hidden;
            position: relative;
            padding-left: 0;

            .videoContainer {
                width: 100%;
                height: 70%;
                background: lightcoral;
                border-radius: 4rem;
                z-index: 2;

                iframe {
                    width: 100%;
                    height: 100%;
                    border-radius: 4rem;
                    // display: none;
                }
                .iframe:focus {
                    outline: none;
                }
            }
        }    
    }    
    
}