.footer {
    height: 100vh;
    width: 100vw;
    background: var(--primary-background);
    position: relative;
    overflow: hidden;
    z-index: 1;

    &__container {
        height: 200rem;
        width: 200rem;
        border-radius: 50%;
        background: rgb(48,55,77);
        margin-left: 50%;
        transform: translateX(-50%) translateY(8%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
            margin-top: 5vh;
            h1 {
                font-family: var(--title-primary);
                background: var(--fill-background);
                -webkit-background-clip: text;
                color: transparent;
                font-size: 6rem;
            }
        }
        &__footer > ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 4vw;
            // background: chartreuse;
            overflow: hidden;
            width: 100%;
            margin-top: 2vh;
            span {
                color: var(--primary-background);
                font-family: 'Poppins', sans-serif;
                // background: chartreuse;
                position: relative;
                font-size: 1rem;
            }
            span::after{
                content: '';
                height: 8px;
                width: 0;
                left: 0;
                top: 15px;
                position: absolute;
                background: #ff8f00;
                border-radius: 4px;
                transition: width 0.3s ease-out;
                opacity: 0.6;
            } 
            span:hover::after{
                width: 100%;
            }
        }
    }
    .animationArea {
        position: absolute;
        height: 20vh;
        // background: chartreuse;
        z-index: 2;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        bottom: 15vh;
        width: calc(220px * 18);
        right: 0;
        direction: rtl;
        animation: pumpSlide 20s linear infinite;

        .box {
            width: 220px;
            height: 20vh;
            position: relative;
            // border: 1px solid red;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    .footer-copyright {
        position: absolute;
        bottom: 0;
        height: 5vh;
        width: 100vw;
        background: rgba(48,55,77,0.5);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-background);
    }
}

@keyframes pumpSlide {
	0% { transform: translateX(0); }
    100% { transform: translateX(calc(220px * 9))}
}

@media screen and (max-width: 768px) {
    .footer {
        height: 100vh;
        width: 100%;
        background: var(--primary-background);
        position: relative;
        overflow-x: hidden;
        z-index: 1;
    }
    .footer__container__title > h1 {
        font-size: 3rem;
    }
    .footer__container__footer > ul {
        margin-top: 4vh;
        span {
            font-size: 0.5rem;
        }
        span::after {
            top: 8px;
            height: 4px;
        }
    }
    .footer-copyright {
        font-size: 0.5rem;
    }

}